:root {
    --primary: #2A29E6;
    --secondary: #11093E;
    --ternary: #322D2F;
    --bgLight: #FAF7EF;
    --bgDark: #100D23;
    --primaryHover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2A29E6;

    --ff-Lato:  "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Lato);
    background-color: var(--bgLight);
}

a {
    font-family: var(--ff-Lato);
    color: inherit;
    text-decoration: none;
}

/* CSS Navbar */
.navbar-container {
    border-radius: 0px 0px 25px 25px;
    background-color: var(--krem);
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    /* margin-bottom: 650px; */
    padding-inline: 35px;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 100px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: 10px;
}

.btn-1 {
    border-color: var(--blue);
    color: var(--blue);
    padding: 8px 28px;
    border-radius: 25px;
    margin-right: 10px;
}

.btn-1:hover {
    background-color: #dddddd;
}

.btn-2 {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 28px;
    border-radius: 25px;
    margin-left: 10px;
}

.btn-2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2a29e6;
}


/* CSS Footer */

footer {
    position: fixed;
    bottom: 0;
}

.footer-container {
    background-color: var(--bgDark);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin-top: 96px;
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-left img {
    max-width: 136px;
}
.footer-left p {
    color: var(--bgLight);
}
.footer-left span {
    color: var(--primary);
    font-weight: bold;
}

.footer-center {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-center a {
    color: var(--bgLight);
}
.footer-center a:hover {
    color: var(--primary);
}

.footer-right {
    width: 35%;
}
.footer-right h3 {
    color: var(--bgLight);
    margin: 0;
}
.footer-right p {
    color: var(--bgLight);
    font-weight: 400;
}
.footer-right span {
    color: var(--primary);
    font-weight: bold;
}

.footer-icons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.footer-icons a {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 16px;
    color: var(--bgLight);
    text-align: center;
    line-height: 32px;
}

.footer-icons a:hover {
    background-color: var(--bgLight);
    color: var(--primary);
}

@media only screen and (max-width: 1080px) {
    .course-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .course-right {
        width: 800px;
        max-width: 100%;
    }
}
@media (max-height:800px) {
    footer {
        position: static;
    }
}