:root {
    /* Variable Colors */
    --krem: #faf7ef;
    --blue: #2a29e6;
    --black: #11093e;
    --primary: #2a29e6;
    --secondary: #11093e;
    --ternary: #322d2f;
    --bgLight: #faf7ef;
    --bgDark: #100d23;
    --violet-blue-crayola: hsla(234, 50%, 64%, 1);
    --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
    --white: hsla(0, 0%, 100%, 1);
    --white_a3: hsla(0, 0%, 100%, 0.03);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --cultured: hsla(220, 20%, 97%, 1);
    --lavender-web: hsla(233, 52%, 94%, 1);
    --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --charcoal: hsla(218, 22%, 26%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --light-gray: hsla(0, 0%, 79%, 1);
    --blue-crayola: hsla(219, 72%, 56%, 1);
    --black-coral: rgb(35, 37, 41);

    /* Variable Typography */
    --ff-manrope: "Manrope", sans-serif;
    --ff-Lato: "Lato", sans-serif;

    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + 0.66vw);
    --fs-3: 2.2rem;
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fw-400: 400;
    --fw-700: 700;

    /* Spacing */
    --section-padding: 90px;
    /* Shadow */
    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

    /* Border Radius */
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-6: 6px;

    /* Transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
}

/* 
    Reset
} */

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
.nav-link.active {
    font-weight: bold;
}

input,
button {
    background: none;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--krem);
    font-family: var(--ff-Lato);
    /* font-size: 1.6rem; */
    /* line-height: 1.7; */
    /* height: 300vh; */
    /* padding-left: 35px;
    padding-right: 20px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-inline: 64px;
    /* padding-inline: 35px; */
}

/* untuk lebar scrollbar navigation */
/* ::-webkit-scrollbar {
    width: 20px;
} */

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    padding: 2px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 80%);
}

/* transisi warna dari awal thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

/* Header */

/* .logo {
    color: var(--blue);
    font-size: 2.6rem;
    font-weight: var(--fw-400);
} */

/* .logo {
    padding-left: 64px;
} */

/* .header {
    top: 0;
    left: 0;
    width: 100%;
    transition: padding var(--transition-1);
    z-index: 4;
} */

.container-navbar {
    background-color: var(--krem);
    /* background-color: red; */
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 1536x;
    height: 98.8px;
    padding-inline: 64px;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 100px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: 10px;
}

.btn-1 {
    /* border: 2px; */
    border-color: var(--blue);
    color: var(--blue);
    padding: 8px 28px;
    border-radius: 25px;
    margin-right: 10px;
}

.btn-1:hover {
    background-color: #dddddd;
}

.btn-2 {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 28px;
    border-radius: 25px;
    margin-left: 10px;
}

.btn-2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2a29e6;
}

.btn-daftar {
    margin-top: 48px;
    padding: 17px 50px;
    border-radius: 30px;
    font-weight: var(--fw-700);
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.btn-daftar:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2a29e6;
}

/* .header-title {
    display: block;
} */

.container-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding-top: 25px;
    /* padding-top: 190px; */
    align-items: center;
}

.flex-left {
    flex-direction: column;
    gap: 16px;
}

.h1-text {
    color: var(--blue);
    font-size: 72px;
    font-weight: var(--fw-700);
    line-height: 101px;
    letter-spacing: 0em;
}

.h3-text {
    /* margin-top: 15px; */
    font-size: 24px;
    font-weight: var(--fw-400);
    color: var(--ternary);
    line-height: 33.6px;
}

.img-1 {
    display: flex;
    width: 500px;
    height: auto;
}

.container-3 {
    margin-top: 64px;
    padding: 60px 32px;
    border-color: #11093e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-left-2 {
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.flex-right-2 img {
    margin-right: 50px;
    height: 83px;
}

.flex-right-2 {
    align-items: center;
}

.span1 {
    color: var(--black);
}

.part-3 {
    font-weight: 700;
    font-size: 32px;
    /* margin-top: 64px; */
    /* margin-bottom: 32px; */
    padding-top: 96px;
}

.card-populer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    gap: 32px;
}

.card {
    width: 324px;
    /* height: 310px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px;
}

.head-card img {
    width: 100%;
    height: 172px;
}

.head-card {
    height: 172px;
}

.body-card {
    height: 136px;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 12px;
    /* padding-bottom: 40px; */
    font-family: var(--ff-Lato);
}

.time {
    margin-bottom: 12px;
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.deksripsi {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
}

.creator {
    height: auto;
    margin-top: 8px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

.selanjutnya {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-next {
    border-radius: 30px;
    border-color: var(--blue);
    color: var(--blue);
    margin-top: 48px;
    padding: 17px 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
}

.btn-next:hover {
    background-color: #dddddd;
}

.container-topik {
    height: 320px;
    background-color: #2a29e6;
    margin-top: 100px;
    top: 20px;
    margin-inline: -65px;
}

.tempat-navbar {
    background: var(--bgLight);
}

.text-topic {
    padding-top: 32px;
    margin-left: 65px;
    color: #faf7ef;
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
}

.jenis-topik {
    margin-inline: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.box-topik {
    border: none;
    color: var(--blue);
    width: 322px;
    height: 64px;
    padding: 18px 50px;
    margin-top: 16px;
    font-family: var(--ff-Lato);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    background: #faf7ef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
}

.box-topik:hover {
    background: #eeeeee;
}

.box-topik-2 {
    border: none;
    color: var(--blue);
    width: 322px;
    height: 64px;
    padding: 18px 50px;
    margin-top: 24px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    background: #faf7ef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
}

.box-topik-2:hover {
    background: #eeeeee;
}

.container-partner {
    /* position: relative; */
    margin-top: 42px;
}

.text-partner {
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
    margin-bottom: 32px;
}

.box-partner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    gap: 32px;
}

.card-partner {
    width: 324px;
    /* height: 310px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px;
}

.container-promote {
    display: flex;
    /* margin-top: 100px; */
    width: 1150px;
    height: 400px;
    background-color: var(--blue);
    margin: 100px 160px 24px 120px;
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.picture-promote {
    height: 400px;
}

.header-promote {
    /* display: flex; */
    font-weight: 700;
    font-size: 32px;
    line-height: 44.8px;
    color: var(--krem);
    margin-top: 96px;
    margin-left: 32px;
    margin-right: 117px;
}

.p-promote {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 117px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: var(--krem);
}

.btn-admin {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 480px;
    margin-bottom: 97px;
    border: none;
    color: var(--blue);
    background-color: var(--krem);
    padding: 13px 33px;
    border-radius: 25px;
    font-family: var(--ff-Lato);
    font-weight: var(--fw-700);
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0em;
}

.btn-admin:hover {
    background: #dddddd;
}

/* CSS Footer */

footer {
    position: fixed;
    bottom: 0;
    /* width: 100vw; */
    margin-left: -35px;
    margin-right: -35px;
    /* padding-inline: 0px !important; */
}

.footer-container {
    background-color: var(--bgDark);
    box-sizing: border-box;
    /* width: 100%; */
    text-align: left;
    margin-top: 96px;
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
    margin-inline: -65px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-left img {
    max-width: 136px;
}
.footer-left p {
    color: var(--bgLight);
}
.footer-left span {
    color: var(--primary);
    font-weight: bold;
}

.footer-center {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-center a {
    color: var(--bgLight);
}
.footer-center a:hover {
    color: var(--primary);
}

.footer-right {
    width: 35%;
}
.footer-right h3 {
    color: var(--bgLight);
    margin: 0;
}
.footer-right p {
    color: var(--bgLight);
    font-weight: 400;
}
.footer-right span {
    color: var(--primary);
    font-weight: bold;
}

.footer-icons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.footer-icons a {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 16px;
    color: var(--bgLight);
    text-align: center;
    line-height: 32px;
}

.footer-icons a:hover {
    background-color: var(--bgLight);
    color: var(--primary);
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
}
