:root {
    /* Variable Colors */
    --krem: #faf7ef;
    --blue: #2a29e6;
    --black: #11093e;
    --violet-blue-crayola: hsla(234, 50%, 64%, 1);
    --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
    --white: hsla(0, 0%, 100%, 1);
    --white_a3: hsla(0, 0%, 100%, 0.03);
    --white_a8: hsla(0, 0%, 100%, 0.08);
    --white_a12: hsla(0, 0%, 100%, 0.12);
    --white_a70: hsla(0, 0%, 100%, 0.7);
    --cultured: hsla(220, 20%, 97%, 1);
    --lavender-web: hsla(233, 52%, 94%, 1);
    --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
    --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
    --charcoal: hsla(218, 22%, 26%, 1);
    --raisin-black: hsla(216, 14%, 14%, 1);
    --light-gray: hsla(0, 0%, 79%, 1);
    --blue-crayola: hsla(219, 72%, 56%, 1);
    --black-coral: rgb(35, 37, 41);

    /* Variable Typography */
    --ff-manrope: "Manrope", sans-serif;
    --ff-Lato:  "Lato", sans-serif;

    --fs-1: calc(2.7rem + 1.38vw);
    --fs-2: calc(2.6rem + 0.66vw);
    --fs-3: 2.2rem;
    --fs-4: 1.9rem;
    --fs-5: 1.8rem;
    --fs-6: 1.7rem;
    --fs-7: 1.5rem;
    --fs-8: 1.4rem;
    --fw-400: 400;

    /* Spacing */
    --section-padding: 90px;
    /* Shadow */
    --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
    --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

    /* Border Radius */
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-10: 10px;
    --radius-8: 8px;
    --radius-6: 6px;

    /* Transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 0.3s ease-in-out;
}

/* 
    Reset
} */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Lato);
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

input,
button {
    background: none;
    /* border: none; */
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

ion-icon {
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-manrope);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--krem);
    font-family: var(--ff-Lato);
    color: var(--black-coral);
    font-size: 1.6rem;
    line-height: 1.7;
    height: 300vh;
    padding-inline: 70px;
}

/* untuk lebar scrollbar navigation */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    padding: 2px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 80%);
}

/* transisi warna dari awal thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

/* Header */

.logo {
    color: var(--blue);
    font-size: 2.6rem;
    font-weight: var(--fw-400);
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    /* padding-block: 10px; */
    transition: padding var(--transition-1);
    z-index: 4;
}

/* .header .container {
  display: flex;
  justify-content: space-between;
  align-items: left;
} */

.container {
    display: flex;
    padding-top: 25px;
    /* padding-inline: 100px; */
    justify-content: space-between;
    align-items: center;
}

.item {
    /* width: 400px; */
    gap: 48px;
    display: flex;
    justify-content: space-around;
}

.button {
    /* border-radius: 25%; */
    /* border-color: #11093E; */
    margin-right: 10px;
}

.btn-1 {
    /* border: 2px; */
    border-color: var(--blue);
    color: var(--blue);
    padding: 8px 28px;
    border-radius: 25px;
    margin-right: 10px;
}

.btn-1:hover {
    background-color: #DDDDDD;
}

.btn-2 {
    border-color: var(--blue);
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 28px;
    border-radius: 25px;
    margin-left: 10px;
}

.btn-2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2A29E6;;
}

.btn-daftar {
    margin-top: 48px;
    padding: 17px 50px;
    border-radius: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.btn-daftar:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2A29E6;;
}

.header-title {
    /* padding: 25px; */
    display: block;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    /* padding-inline: 70px; */
    margin-top: 128px;
    align-items: center;
}

.flex-left {
    flex-direction: column;
    gap: 16px;
}

.h1-text {
    font-size: 5.8rem;
    color: var(--blue);
}

.h3-text {
    font-size: 24px;
    font-weight: 400px;
    padding-top: 16px;
}

.img-1 {
    display: flex;
    /* justify-content: flex-end; */
    width: 500px;
    height: auto;
    /* width: 646px;
    height: 508px;
    left: 802px;
    top: 171px; */
    /* height: 350px; */
    /* float: right; */
}

.container-3 {
    /* position: absolute; */
    margin-top: 64px;
    /* padding-top: 75px; */
    padding: 60px 32px;
    border-color: #11093e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-left-2 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    /* padding: 75px 32px 94px 32px; */
    /* line-height: 140%; */
    /* identical to box height, or 34px */

    /* display: flex; */
    /* align-items: center; */
}

.flex-right-2 img {
    margin-right: 50px;
    height: 83px;
}

.flex-right-2 {
    align-items: center;
    /* display: flex; */
    /* padding-bottom: 50px; */
    /* align-items: flex-start; */
    /* padding: 75px 32px 94px 32px; */

    /* gap: 24px; */
    /* display: flex; */

    /* position: absolute; */
    /* width: 826.76px;
    height: 84px;
    left: 567px;
    top: 793px; */
}

/* .h3-text {
    padding-inline: 70px;
} */

/* .btn-2 {
    color: var(--black-coral);
} */

/* .container .list {
    display: flex;
    flex-direction: row;
    justify-content: space between;
} */
/* .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.span1 {
    color: var(--black);
}

