:root {
    /* Variable Typography */
    --krem: #faf7ef;
    --blue: #2a29e6;
    --black: #11093e;
    --ternary: #322d2f;
    --white: hsla(0, 0%, 100%, 1);
    --ff-lato: "Lato", sans-serif;
    --fw-700: 700;
    --fw-400: 400;

    --primary: #2A29E6;
    --secondary: #11093E;
    --ternary: #322D2F;
    --bgLight: #FAF7EF;
    --bgDark: #100D23;
    --primaryHover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2A29E6;

    --ff-Lato:  "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--krem);
    /* margin-inline: 64px; */
    font-family: var(--ff-Lato);
}

html {
    scroll-behavior: smooth;
}


li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

button {
    cursor: pointer;
}

input,
button {
    background: none;
    font: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
    padding: 2px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 80%);
}

/* transisi warna dari awal thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 70%);
}

.container-navbar {
    border-radius: 0px 0px 25px 25px;
    background-color: var(--krem);
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin-bottom: 650px;
    /* kasih space kanan dan kiri dari navbar */
    /* margin-left: 35px;
    margin-right: 25px; */
    margin-inline: 64px;
    justify-content: space-between;
    align-items: center;
}

.item {
    gap: 48px;
    display: flex;
    justify-content: space-around;
}

/* css buat margin di logo */
/* .logo {
    margin-top: 36px;
    margin-left: 12px;
} */

.button {
    margin-top: 10px;
}

.btn-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: var(--blue);
    color: var(--blue);
    margin-right: 20px;
    /* lebar dari button */
    width: 110px;
    border-radius: 24px;
}

.text-btn {
    margin-left: 17px;
    margin-right: 12px;
    /* background-color: #11093e; */
    /* padding-bottom: 18px; */
}

.btn-1:hover {
    background-color: #dddddd;
}

.container-2 {
    margin-inline: 64px;
    display: flex;
    justify-content: space-between;
    /* kasih paading buat space navbar */
    padding-top: 30px;
    margin-top: 189px;
    align-items: center;
}

.flex-left {
    flex-direction: column;
    gap: 16px;
}

.h1-text {
    color: var(--blue);
    font-size: 72px;
    font-weight: var(--fw-700);
    line-height: 101px;
    letter-spacing: 0em;
}

.h3-text {
    margin-top: 15px;
    font-size: 24px;
    font-weight: var(--fw-400);
    color: var(--ternary);
    line-height: 33.6px;
}

.img-1 {
    display: flex;
    width: 500px;
    height: auto;
}

.btn-daftar {
    margin-top: 48px;
    padding: 17px 50px;
    font-weight: var(--fw-700);
    line-height: 22.4px;
    border-radius: 30px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

.btn-daftar:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #2a29e6;
}

.container-3 {
    margin-inline: 64px;
    margin-top: 64px;
    padding: 60px 32px;
    border-color: #11093e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    align-items: center;
    /* gap: 20px;    */
    /* width: 1380px; */
    justify-content: space-between;
}

.flex-left-2 {
    font-family: "Sora";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.flex-right-2 {
    display: flex;
    gap: 24px;
    align-items: center;
    /* margin-right: 50px; */
    /* height: 83px; */
}

.mentor-1,
.mentor-2,
.mentor-3 {
    display: flex;
}

.ket-mentor {
    margin-left: 8px;
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.nama-mentor {
    /* font-family: Lato; */
    font-size: 16px;
    font-weight: var(--fw-700);
    line-height: 22px;
    letter-spacing: 0em;
    /* text-align: left; */
}

.jabatan-mentor {
    font-size: 16px;
    font-weight: var(--fw-400);
    line-height: 22px;
    letter-spacing: 0em;
}

.panah-kanan {
    border: none;
}
/* 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Lato);
    background-color: var(--bgLight);
} */

.part-last-course {
    font-weight: 700;
    font-size: 32px;
    /* margin-top: 64px; */
    /* margin-bottom: 32px; */
    margin-inline: 64px;
    padding-top: 96px;
}

.card-populer {
    margin-inline: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    gap: 32px;
}

.card {
    width: 324px;
    height: 310px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px;
}

.head-card img {
    width: 100%;
    height: 172px;
}

.head-card {
    height: 172px;
}

.body-card {
    height: 136px;
    padding-left: 16px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 40px;
    font-family: var(--ff-Lato);
}

.time {
    margin-bottom: 12px;
    display: flex;
    justify-content: end;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.deksripsi {
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
}

.creator {
    height: auto;
    margin-top: 8px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
}

a {
    font-family: var(--ff-Lato);
    color: inherit;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    /* margin-right: -192px; */
    /* margin-left: -64px; */
}

.footer-container {
    background-color: var(--bgDark);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    margin-top: 96px;
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
    /* margin-inline: 64px; */
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-left img {
    max-width: 136px;
}
.footer-left p {
    color: var(--bgLight);
}
.footer-left span {
    color: var(--primary);
    font-weight: bold;
}

.footer-center {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-center a {
    color: var(--bgLight);
}
.footer-center a:hover {
    color: var(--primary);
}

.footer-right {
    width: 35%;
}
.footer-right h3 {
    color: var(--bgLight);
    margin: 0;
}
.footer-right p {
    color: var(--bgLight);
    font-weight: 400;
}
.footer-right span {
    color: var(--primary);
    font-weight: bold;
}

.footer-icons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.footer-icons a {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 4px;
    font-size: 16px;
    color: var(--bgLight);
    text-align: center;
    line-height: 32px;
}

.footer-icons a:hover {
    background-color: var(--bgLight);
    color: var(--primary);
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}
